@model Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="container-fluid">
                <h2>Edit</h2>
                <h4>Customers</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                     <div class="table-responsive">
                        <form asp-action="Edit">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="CustomerName" class="control-label"></label>
                                <input asp-for="CustomerName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="PartNumber" class="control-label"></label>
                                <input asp-for="PartNumber" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="PartDescription" class="control-label"></label>
                                <input asp-for="PartDescription" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ReturnDate" class="control-label"></label>
                                <input asp-for="ReturnDate" class="form-control" />
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.CheckBoxFor(m => m.StatusOfWorkOrder) Is completed ?
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary" />
                                <a asp-controller="Customers" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                    Back to List
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->